body {
  color:rgb(255, 255, 255);
  background-color:black;
  text-align: center;
  font-family: sans-serif;
}

header {
  background-image: url("../images/banner.png"), linear-gradient(#00000099,#31a8dd44);
  background-size: cover;
  background-blend-mode: multiply;
}

footer {
  background-image: linear-gradient(#31a8dd00,#31a8dd33);
}

header, section, footer{
  border: 1px solid #31a8dd;
}

h1 {
  color: linear-gradient();
}

h2 {
  color:cornflowerblue;
}